[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu90"
verify_ssl = true
name = "pytorch"

[packages]
MarkupSafe = "<2.1"
torch = {version = "==0.3.1",index = "pytorch"}
torchvision = {version = "==0.2.1",index = "pytorch"}
torchtext = "==0.2.3"
cython = "==0.29.24"
#bcolz = "==1.2.1"
bcolz = "==1.2.0"
opencv-python = "==4.1.2.30"
pillow = "==8.4.0"
jinja2 = "<3.0"  
#requests = "<3.0"
requests = "==2.27.1"
packaging = "<21.0" 
typing-extensions = "<4.0"
sentencepiece = "==0.1.83"
numpy = "==1.19.5"
pandas = "==1.1.5"
scipy = "==1.5.4"
tqdm = "==4.64.1"  
fastai = "==0.7"

[dev-packages]

[requires]
python_version = "3.6"
