anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
bcolz==1.2.1
bleach==4.1.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1625756939897/work
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.12
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
comm==0.1.4
contextvars==2.4
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///tmp/build/80754af9/cython_1626256602391/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1614995065708/work
dataclasses==0.8
datatile==1.0.3
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1615002625500/work
entrypoints==0.4
fastai==0.7.0
feather-format==0.4.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1674184942191/work
graphviz==0.19.1
HeapDict==1.0.1
html5lib==1.1
idna==3.10
immutables @ file:///home/conda/feedstock_root/build_artifacts/immutables_1628601257972/work
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.8.5
isoweek==1.3.3
jedi==0.17.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib==1.1.1
json5==0.9.16
jsonschema==3.2.0
jupyter==1.1.1
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-server==1.13.1
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab_widgets==1.1.11
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282412546/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455668064/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mistune==0.8.4
mizani==0.7.3
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1689092066756/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1610121702224/work
nbclassic==0.3.5
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.6.0
notebook==6.4.10
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1630602337830/work
numpy==1.19.5
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.1.2.30
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
palettable==3.3.2
pandas==1.1.5
pandas-summary==0.2.0
pandocfilters==1.5.1
parso==0.7.1
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==8.4.0
plotnine==0.8.0
prometheus-client==0.17.1
prompt-toolkit==3.0.36
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127101219/work
ptyprocess==0.7.0
pyarrow==6.0.1
pycparser==2.21
Pygments==2.14.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pyrsistent==0.18.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.8.3
sentencepiece==0.1.83
simplegeneric==0.8.1
six==1.17.0
sklearn-pandas==2.2.0
sniffio==1.2.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
statsmodels==0.12.2
tables==3.4.4
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==0.3.1
torchtext==0.2.3
torchvision==0.2.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094701020/work
tqdm==4.64.1
traceml==1.0.8
traitlets==4.3.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
urllib3==1.26.20
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.3.1
widgetsnbextension==3.6.10
zict==2.0.0
zipp==3.6.0
